.navbar-links {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-categories a {
  margin-right: 10px;
}

.category {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.product {
  display: flex;
  flex-direction: column;
}

.product-image img{
  height: 680px;
  width: 500px;
}